.headingWraper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.btnWrapper {
  margin-left: 10px;
}

.urlInput {
  display: flex;
  width: 45%;
}
.urlWrapper {
  padding-top: 10px;
}
